# AQM: What drives stock prices? Cointegration and Causality

## Download Stock Prices from Refinitiv API

In [21]:
import pandas as pd
import eikon as ek
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [148]:
# Set your Eikon app key
ek.set_app_key('c70eb40870e44f87aa5ee2351241818ac4c25933')

# Define the assets you want to retrieve prices for
assets = ['AAPL.O','MSFT.O','GOOGL.O','AMZN.O','BRKb','UNH','JNJ','XOM','V','JPM',
        'NESN.S','ROG.S','NOVN.S','CFR.S','UBSG.S','ZURN.S','ABBN.S','LONN.S','SIKA.S','ALCC.S','HOLN.S']


# Create an empty dictionary to store the prices
prices_dict = {}

# Loop over the assets and retrieve the prices using Eikon
for asset in assets:
    try:
        ts = ek.get_timeseries(asset, fields='CLOSE', start_date='2012-12-31', end_date='2022-12-31', interval='daily')
        ts = ts.rename(columns={'CLOSE': asset})
        ts.index = ts.index.date
    except ek.EikonError as e:
        # If there's an error, add a column of NaN values to the DataFrame
        ts = pd.DataFrame({asset: np.nan}, index=pd.date_range('2012-12-31', '2022-12-31', freq='D').date)
    prices_dict[asset] = ts

# Combine the individual DataFrames into a single DataFrame
prices_df = pd.concat(prices_dict.values(), axis=1, sort=True)

prices_df

2023-05-06 17:36:16,295 P[13964] [MainThread 14940] Error: no proxy address identified.
Check if Eikon Desktop or Eikon API Proxy is running.

,AAPL.O,MSFT.O,GOOGL.O,AMZN.O,BRKb,UNH,JNJ,XOM,V,JPM,...,ROG.S,NOVN.S,CFR.S,UBSG.S,ZURN.S,ABBN.S,LONN.S,SIKA.S,ALCC.S,HOLN.S
2012-12-31,19.006156,26.7097,17.701654,12.5435,89.7,54.24,70.1,86.55,37.895,43.9691,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2013-01-02,19.608195,27.62,18.098789,12.8655,93.2,54.54,70.84,88.71,38.845,44.66,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2013-01-03,19.360548,27.25,18.109299,12.924,93.6211,51.99,70.74,88.55,38.875,44.57,...,189.5,51.890272,75.5,14.85,248.4,18.684646,46.962903,35.934052,<NA>,65.380956
2013-01-04,18.82141,26.74,18.467146,12.9575,93.85,52.09,71.55,88.96,39.1925,45.36,...,190.2,52.509065,75.0,14.72,248.9,18.752204,47.796564,36.534064,<NA>,66.000003
2013-01-07,18.710696,26.69,18.386568,13.42296,93.45,52.09,71.4,87.93,39.4725,45.41,...,189.2,52.332267,73.85,15.0,247.6,18.646041,48.074451,36.684067,<NA>,65.523813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,131.86,238.73,89.23,85.25,306.49,531.31,177.48,108.68,205.83,131.28,...,295.2,84.72,116.8,17.3,447.1,28.17,453.9,223.1,63.26,48.09
2022-12-27,130.03,236.96,87.39,83.04,305.55,531.99,177.43,110.19,206.29,131.74,...,294.1,84.78,120.7,17.38,448.8,28.51,452.2,224.3,63.12,48.43
2022-12-28,126.04,234.53,86.02,81.82,303.43,528.45,176.66,108.38,204.99,132.46,...,292.55,84.48,121.4,17.28,447.1,28.23,455.4,224.2,63.12,48.26
2022-12-29,129.61,241.01,88.45,84.18,309.06,529.88,177.56,109.2,208.06,133.22,...,292.85,84.76,121.55,17.365,448.4,28.46,461.2,225.8,63.84,48.12
2022-12-30,129.93,239.82,88.23,84.0,308.9,530.18,176.65,110.3,207.76,134.1,...,290.5,83.59,119.9,17.205,442.3,28.06,453.1,221.7,63.18,47.88

## Download FX from Refinitiv API

In [149]:

# Define the instrument and fields you want to retrieve data for
instrument = 'CHF='

data = ek.get_timeseries(instrument,
                         start_date='2012-12-31',
                         end_date='2022-12-31',
                         fields='CLOSE',
                         interval='daily')
df_fx = pd.DataFrame(data)
df_fx

CHF=         CLOSE
Date
2012-12-31  0.9155
2013-01-01  0.9156
2013-01-02  0.9176
2013-01-03  0.9265
2013-01-04  0.9242
...            ...
2022-12-26  0.9318
2022-12-27  0.9288
2022-12-28  0.9287
2022-12-29   0.923
2022-12-30  0.9244

[2610 rows x 1 columns]

## Save Data to Excel for Verification with Refinitiv Excel Add-in

In [21]:
#generate an excel output
df = pd.DataFrame(prices_df)
df.to_excel('Python_output_refinitivAPI3.xlsx', index=True)

## Upload clean Price Data from Excel File

In [10]:
#Upload data from excel file
data = pd.read_excel("./Downloads/AQM_Prices_data.xlsx",sheet_name='Comb_Clean Data', index_col=0)

df_clean = pd.DataFrame(data)

data.describe()

,AAPL.O,MSFT.O,GOOGL.O,AMZN.O,BRKb,UNH,JNJ,XOM,V,JPM,NESN.S,ROG.S,NOVN.S,CFR.S,UBSG.S,ZURN.S,ABBN.S,LONN.S,SIKA.S,HOLN.S
count,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000
mean,62.401990,121.793942,59.507715,73.759147,189.285690,229.887538,128.107704,78.646457,126.935187,94.612716,91.274463,289.486276,78.764325,87.757230,16.210932,330.398275,23.331267,311.126735,144.242735,56.847564
std,48.708580,89.870022,34.637830,53.283676,61.058702,138.335669,27.794405,16.531536,63.961538,33.773160,20.218183,48.691758,9.605908,19.828524,2.921837,67.079336,4.684522,220.046417,95.537165,11.326846
min,13.947486,26.460000,17.517225,12.259000,88.550000,51.400000,69.480000,31.450000,37.162500,43.240000,63.578857,201.511335,55.618534,51.099519,7.874116,205.059646,14.631139,50.073020,37.015932,29.975201
25%,26.932500,47.000000,30.310873,21.928000,140.460000,115.920000,102.450000,71.880000,69.330000,61.280000,74.719218,252.395833,71.314475,73.904302,14.264082,281.433225,20.148621,127.382182,61.360236,48.460455
50%,41.315000,86.350000,52.037500,59.791500,183.680000,219.940000,129.640000,82.030000,114.350000,95.500000,82.687124,275.851264,79.283036,85.399743,16.384888,308.473887,22.121944,260.335982,124.486695,54.260324
75%,91.632500,201.910000,74.027000,107.670000,218.550000,302.130000,147.640000,89.160000,193.500000,115.510000,109.998949,328.538260,87.023546,97.832384,18.184779,390.165580,25.116008,490.155777,196.486106,65.492965
max,182.010000,343.110000,149.838500,186.570500,359.570000,555.150000,186.010000,114.180000,250.930000,171.780000,141.360114,430.467491,98.052680,156.688037,23.101527,498.162957,37.676158,857.673808,417.231577,88.256460

In [11]:
df_clean

,AAPL.O,MSFT.O,GOOGL.O,AMZN.O,BRKb,UNH,JNJ,XOM,V,JPM,NESN.S,ROG.S,NOVN.S,CFR.S,UBSG.S,ZURN.S,ABBN.S,LONN.S,SIKA.S,HOLN.S
Date,,,,,,,,,,,,,,,,,,,,
2012-12-28,18.199596,26.5500,17.517225,12.2590,88.5500,53.86,69.48,85.10,37.1625,43.2400,65.272150,201.511335,55.618534,78.195159,15.628080,266.564451,19.818120,50.073020,38.514259,69.777997
2012-12-31,19.006156,26.7097,17.701654,12.5435,89.7000,54.24,70.10,86.55,37.8950,43.9691,65.366782,203.022262,55.812651,79.842318,15.828071,267.335113,19.992517,50.380764,38.649494,70.172838
2013-01-02,19.608195,27.6200,18.098789,12.8655,93.2000,54.54,70.84,88.71,38.8450,44.6600,65.414098,203.777726,55.909710,80.665897,15.928067,267.720444,20.079715,50.534636,38.717112,70.370259
2013-01-03,19.360548,27.2500,18.109299,12.9240,93.6211,51.99,70.74,88.55,38.8750,44.5700,65.461414,204.533189,56.006769,81.489477,16.028063,268.105774,20.166914,50.688508,38.784730,70.567680
2013-01-04,18.821410,26.7400,18.467146,12.9575,93.8500,52.09,71.55,88.96,39.1925,45.3600,66.003030,205.799610,56.815695,81.151266,15.927288,269.314001,20.290201,51.716689,39.530474,71.413118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,131.860000,238.7300,89.230000,85.2500,306.4900,531.31,177.48,108.68,205.8300,131.2800,115.525554,316.297011,90.774671,125.147327,18.536376,479.052823,30.183221,486.338798,239.044252,51.526840
2022-12-27,130.030000,236.9600,87.390000,83.0400,305.5500,531.99,177.43,110.19,206.2900,131.7400,116.386736,316.645134,91.279070,129.952627,18.712317,483.204134,30.695521,486.864772,241.494401,52.142550
2022-12-28,126.040000,234.5300,86.020000,81.8200,303.4300,528.45,176.66,108.38,204.9900,132.4600,116.399268,315.010229,90.965866,130.720362,18.606654,481.425649,30.397330,490.362873,241.412727,51.965113
2022-12-29,129.610000,241.0100,88.450000,84.1800,309.0600,529.88,177.56,109.20,208.0600,133.2200,117.291441,317.280607,91.830986,131.690141,18.813651,485.807151,30.834236,499.674973,244.637053,52.134345
2022-12-30,129.930000,239.8200,88.230000,84.0000,308.9000,530.18,176.65,110.30,207.7600,134.1000,115.902207,314.257897,90.426222,129.705755,18.612073,478.472523,30.354825,490.155777,239.831242,51.795759

## Calculate returns

In [12]:
assets = ['AAPL.O','MSFT.O','GOOGL.O','AMZN.O','BRKb','UNH','JNJ','XOM','V','JPM',
        'NESN.S','ROG.S','NOVN.S','CFR.S','UBSG.S','ZURN.S','ABBN.S','LONN.S','SIKA.S','HOLN.S']

df_clean_return = pd.DataFrame()
for asset in assets:
    df_clean_return[asset] = (df_clean[asset] - df_clean[asset].shift(1)) / df_clean[asset].shift(1)

    
#print(df_clean.describe())
df_clean_return.describe()

,AAPL.O,MSFT.O,GOOGL.O,AMZN.O,BRKb,UNH,JNJ,XOM,V,JPM,NESN.S,ROG.S,NOVN.S,CFR.S,UBSG.S,ZURN.S,ABBN.S,LONN.S,SIKA.S,HOLN.S
count,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000
mean,0.000925,0.000994,0.000767,0.000949,0.000556,0.001010,0.000422,0.000239,0.000789,0.000576,0.000277,0.000246,0.000254,0.000364,0.000220,0.000315,0.000269,0.001027,0.000854,0.000020
std,0.018037,0.016778,0.016771,0.020190,0.011980,0.015674,0.010980,0.016635,0.015646,0.016594,0.010416,0.012168,0.011410,0.018330,0.017411,0.013251,0.014404,0.016884,0.016932,0.016459
min,-0.128647,-0.147390,-0.116342,-0.140494,-0.095921,-0.172769,-0.100379,-0.122248,-0.135472,-0.149649,-0.067383,-0.081131,-0.102652,-0.139588,-0.136629,-0.142488,-0.125818,-0.099020,-0.217827,-0.133106
25%,-0.007332,-0.006427,-0.006626,-0.008170,-0.005273,-0.006635,-0.004497,-0.007433,-0.006437,-0.007219,-0.005559,-0.006166,-0.005712,-0.008858,-0.007922,-0.005310,-0.006612,-0.008153,-0.007320,-0.008534
50%,0.000664,0.000690,0.000836,0.001093,0.000429,0.000983,0.000396,-0.000115,0.001275,0.000194,0.000542,0.000579,0.000438,0.000376,-0.000079,0.000625,0.000481,0.001170,0.001145,-0.000090
75%,0.010118,0.009055,0.008665,0.010825,0.006334,0.008252,0.005877,0.007679,0.008308,0.008245,0.005985,0.006893,0.006490,0.009779,0.008716,0.006692,0.007837,0.010258,0.009145,0.008406
max,0.119808,0.142169,0.162584,0.141311,0.116099,0.127989,0.079977,0.126868,0.138426,0.180125,0.113292,0.084567,0.083949,0.130263,0.128728,0.137044,0.113611,0.103424,0.119928,0.141166

In [13]:
df_clean_return

,AAPL.O,MSFT.O,GOOGL.O,AMZN.O,BRKb,UNH,JNJ,XOM,V,JPM,NESN.S,ROG.S,NOVN.S,CFR.S,UBSG.S,ZURN.S,ABBN.S,LONN.S,SIKA.S,HOLN.S
Date,,,,,,,,,,,,,,,,,,,,
2012-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-31,0.044317,0.006015,0.010528,0.023207,0.012987,0.007055,0.008923,0.017039,0.019711,0.016862,0.001450,0.007498,0.003490,0.021065,0.012797,0.002891,0.008800,0.006146,0.003511,0.005659
2013-01-02,0.031676,0.034081,0.022435,0.025671,0.039019,0.005531,0.010556,0.024957,0.025069,0.015713,0.000724,0.003721,0.001739,0.010315,0.006318,0.001441,0.004362,0.003054,0.001750,0.002813
2013-01-03,-0.012630,-0.013396,0.000581,0.004547,0.004518,-0.046755,-0.001412,-0.001804,0.000772,-0.002015,0.000723,0.003707,0.001736,0.010210,0.006278,0.001439,0.004343,0.003045,0.001746,0.002805
2013-01-04,-0.027847,-0.018716,0.019760,0.002592,0.002445,0.001923,0.011450,0.004630,0.008167,0.017725,0.008274,0.006192,0.014443,-0.004150,-0.006287,0.004507,0.006113,0.020284,0.019228,0.011981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,-0.002798,0.002267,0.016750,0.017425,0.012554,0.008006,0.002542,0.026445,0.003755,0.004745,-0.003942,-0.001450,-0.000340,-0.011771,0.008613,0.002018,0.006107,0.006405,0.005649,0.007381
2022-12-27,-0.013878,-0.007414,-0.020621,-0.025924,-0.003067,0.001280,-0.000282,0.013894,0.002235,0.003504,0.007454,0.001101,0.005557,0.038397,0.009492,0.008666,0.016973,0.001081,0.010250,0.011949
2022-12-28,-0.030685,-0.010255,-0.015677,-0.014692,-0.006938,-0.006654,-0.004340,-0.016426,-0.006302,0.005465,0.000108,-0.005163,-0.003431,0.005908,-0.005647,-0.003681,-0.009714,0.007185,-0.000338,-0.003403
2022-12-29,0.028324,0.027630,0.028249,0.028844,0.018555,0.002706,0.005095,0.007566,0.014976,0.005738,0.007665,0.007207,0.009510,0.007419,0.011125,0.009101,0.014373,0.018990,0.013356,0.003257
2022-12-30,0.002469,-0.004938,-0.002487,-0.002138,-0.000518,0.000566,-0.005125,0.010073,-0.001442,0.006606,-0.011844,-0.009527,-0.015297,-0.015069,-0.010714,-0.015098,-0.015548,-0.019051,-0.019645,-0.006494

In [14]:
#Drop NA's (in this case Price for 28.12.2012)
df_clean_return.dropna(axis='rows',inplace=True)
df_clean_return

,AAPL.O,MSFT.O,GOOGL.O,AMZN.O,BRKb,UNH,JNJ,XOM,V,JPM,NESN.S,ROG.S,NOVN.S,CFR.S,UBSG.S,ZURN.S,ABBN.S,LONN.S,SIKA.S,HOLN.S
Date,,,,,,,,,,,,,,,,,,,,
2012-12-31,0.044317,0.006015,0.010528,0.023207,0.012987,0.007055,0.008923,0.017039,0.019711,0.016862,0.001450,0.007498,0.003490,0.021065,0.012797,0.002891,0.008800,0.006146,0.003511,0.005659
2013-01-02,0.031676,0.034081,0.022435,0.025671,0.039019,0.005531,0.010556,0.024957,0.025069,0.015713,0.000724,0.003721,0.001739,0.010315,0.006318,0.001441,0.004362,0.003054,0.001750,0.002813
2013-01-03,-0.012630,-0.013396,0.000581,0.004547,0.004518,-0.046755,-0.001412,-0.001804,0.000772,-0.002015,0.000723,0.003707,0.001736,0.010210,0.006278,0.001439,0.004343,0.003045,0.001746,0.002805
2013-01-04,-0.027847,-0.018716,0.019760,0.002592,0.002445,0.001923,0.011450,0.004630,0.008167,0.017725,0.008274,0.006192,0.014443,-0.004150,-0.006287,0.004507,0.006113,0.020284,0.019228,0.011981
2013-01-07,-0.005882,-0.001870,-0.004363,0.035922,-0.004262,0.000000,-0.002096,-0.011578,0.007144,0.001102,-0.000638,-0.001801,0.000096,-0.011912,0.022562,-0.001767,-0.002207,0.009309,0.007595,-0.003766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,-0.002798,0.002267,0.016750,0.017425,0.012554,0.008006,0.002542,0.026445,0.003755,0.004745,-0.003942,-0.001450,-0.000340,-0.011771,0.008613,0.002018,0.006107,0.006405,0.005649,0.007381
2022-12-27,-0.013878,-0.007414,-0.020621,-0.025924,-0.003067,0.001280,-0.000282,0.013894,0.002235,0.003504,0.007454,0.001101,0.005557,0.038397,0.009492,0.008666,0.016973,0.001081,0.010250,0.011949
2022-12-28,-0.030685,-0.010255,-0.015677,-0.014692,-0.006938,-0.006654,-0.004340,-0.016426,-0.006302,0.005465,0.000108,-0.005163,-0.003431,0.005908,-0.005647,-0.003681,-0.009714,0.007185,-0.000338,-0.003403
2022-12-29,0.028324,0.027630,0.028249,0.028844,0.018555,0.002706,0.005095,0.007566,0.014976,0.005738,0.007665,0.007207,0.009510,0.007419,0.011125,0.009101,0.014373,0.018990,0.013356,0.003257
2022-12-30,0.002469,-0.004938,-0.002487,-0.002138,-0.000518,0.000566,-0.005125,0.010073,-0.001442,0.006606,-0.011844,-0.009527,-0.015297,-0.015069,-0.010714,-0.015098,-0.015548,-0.019051,-0.019645,-0.006494

## Plotting

In [6]:
# Plot and save individual time series (Prices)

for col in df_clean.iteritems(): 
#    print('plotting'+col[0])
    fig, ax = plt.subplots()
    indicator=data[col[0]]
    ax.plot(indicator, alpha=0.9, color='blue')
    plt.title(col[0])
    plt.savefig('Charts\PlotNEW_'+col[0]+'.png')
    plt.close()

plottingAAPL.O
plottingMSFT.O
plottingGOOGL.O
plottingAMZN.O
plottingBRKb
plottingUNH
plottingJNJ
plottingXOM
plottingV
plottingJPM
plottingNESN.S
plottingROG.S
plottingNOVN.S
plottingCFR.S
plottingUBSG.S
plottingZURN.S
plottingABBN.S
plottingLONN.S
plottingSIKA.S
plottingHOLN.S

In [138]:
#Histograms for each individual series (Returns)

for col in df_clean_return.iteritems(): 
#    print('histogram for '+col[0])
    fig, ax = plt.subplots()
    indicator=df_clean_return[col[0]]
    ax.hist(indicator, alpha=0.9, color='blue',bins=20)
    plt.title(col[0])
    plt.savefig('Charts\Hist_'+col[0]+'.png')
    plt.close()

histogram for AAPL.O
histogram for MSFT.O
histogram for GOOGL.O
histogram for AMZN.O
histogram for BRKb
histogram for UNH
histogram for JNJ
histogram for XOM
histogram for V
histogram for JPM
histogram for NESN.S
histogram for ROG.S
histogram for NOVN.S
histogram for CFR.S
histogram for UBSG.S
histogram for ZURN.S
histogram for ABBN.S
histogram for LONN.S
histogram for SIKA.S
histogram for HOLN.S

In [140]:
#Boxplot (Returns)

for col in df_clean_return.columns:
    # Create a boxplot for the current column
    fig, ax = plt.subplots()
    ax.boxplot(df_clean_return[col])
    ax.set_title(col)
    plt.savefig('Charts\Boxplot_'+col+'.png')
    plt.close()

In [142]:
#Q-Q Plot (Returns)

import scipy.stats as stats

for col in df_clean_return.columns:
    fig, ax = plt.subplots()
    stats.probplot(df_clean_return[col].dropna(), plot=ax)
    ax.set_title('Q-Q plot for ' + col)
    plt.savefig('Charts/QQ_plot_' + col + '.png')
    plt.close()

## Normality Test

In [78]:
#Normality test (Shapiro) for returns

import pandas as pd
from scipy.stats import shapiro

alpha = 0.05
results = []

for asset in assets:
    statistic, p_value = shapiro(df_clean_return[asset].dropna())
    if p_value < alpha:
        result = 'not normally distributed'
    else:
        result = 'normally distributed'
    results.append({'Asset': asset, 'Stat': statistic, 'P-value': p_value, 'Result': result})
    
df_results_shapiro = pd.DataFrame(results)
df_results_shapiro.to_excel('shapiro_results.xlsx', index=False)

## Stationarity Test

### For Returns

In [109]:
#ADF test for returns

from statsmodels.tsa.stattools import adfuller

results = []

for asset in assets:
#    print('ADF test for ' + asset)
    # test for level
    result_level = adfuller(df_clean_return[asset].dropna(), maxlag=2)
    # test for first difference
    result_diff = adfuller(df_clean_return[asset].diff().dropna(), maxlag=2)

    # create a dictionary for the results of each test
    adf_dict = {'Asset': asset,
                'Level ADF Statistic': result_level[0],
                'Level p-value': result_level[1],
                'Level Critical Values': result_level[4],
                'Level Stationarity': 'Stationary' if result_level[0] < result_level[4]['5%'] else 'Non-Stationary',
                '1. Diff ADF Statistic': result_diff[0],
                '1. Diff p-value': result_diff[1],
                '1. Diff Critical Values': result_diff[4],
                '1. Diff Stationarity': 'Stationary' if result_diff[0] < result_diff[4]['5%'] else 'Non-Stationary'
                }
    results.append(adf_dict)

# convert the list of dictionaries to a pandas DataFrame
df_results_return = pd.DataFrame(results)

# save the DataFrame to an Excel file
df_results_return.to_excel('adf_results_returns.xlsx', index=False)

### For Prices

In [80]:
#ADF test for prices

from statsmodels.tsa.stattools import adfuller

results = []

for asset in assets:
#    print('ADF test for ' + asset)
    # test for level
    result_level = adfuller(df_clean[asset].dropna(), maxlag=2)
    # test for first difference
    result_diff = adfuller(df_clean[asset].diff().dropna(), maxlag=2)

    # create a dictionary for the results of each test
    adf_dict = {'Asset': asset,
                'Level ADF Statistic': result_level[0],
                'Level p-value': result_level[1],
                'Level Critical Values': result_level[4],
                'Level Stationarity': 'Stationary' if result_level[0] < result_level[4]['5%'] else 'Non-Stationary',
                '1. Diff ADF Statistic': result_diff[0],
                '1. Diff p-value': result_diff[1],
                '1. Diff Critical Values': result_diff[4],
                '1. Diff Stationarity': 'Stationary' if result_diff[0] < result_diff[4]['5%'] else 'Non-Stationary'
                }
    results.append(adf_dict)

# convert the list of dictionaries to a pandas DataFrame
df_results_prices = pd.DataFrame(results)

# save the DataFrame to an Excel file
df_results_prices.to_excel('adf_results_prices.xlsx', index=False)

## Cointegration

In [81]:
# Cointegration for Prices

from statsmodels.tsa.stattools import coint

# Define the list of assets
assets = ['AAPL.O', 'MSFT.O', 'GOOGL.O', 'AMZN.O', 'BRKb', 'UNH', 'JNJ', 'XOM', 'V', 'JPM',
          'NESN.S', 'ROG.S', 'NOVN.S', 'CFR.S', 'UBSG.S', 'ZURN.S', 'ABBN.S', 'LONN.S', 'SIKA.S', 'HOLN.S']

# Set the significance level (confidence level)
alpha = 0.05

# Create a table to store the cointegration test results
results_table = []

# Loop over the pairs of assets
for i in range(len(assets)):
    asset1 = assets[i]
    
    for j in range(i + 1, len(assets)):
        asset2 = assets[j]
        
        # Perform the cointegration test
        result = coint(df_clean[asset1].dropna(), df_clean[asset2].dropna(), maxlag=2)
        p_value = result[1]
        
        # Check if the p-value is less than the significance level
        if p_value < alpha:
            result_text = 'Cointegration exists'
        else:
            result_text = 'No cointegration'
        
        # Add the results to the table
        results_table.append([asset1, asset2, p_value, result_text])

# Convert the results table to a DataFrame
results_df_coint = pd.DataFrame(results_table, columns=['Asset 1', 'Asset 2', 'P-value', 'Cointegration'])

# Print the results DataFrame
print(results_df)
results_df_coint.to_excel('cointegration_results.xlsx', index=False)

    Asset 1  Asset 2   P-value         Cointegration
0    AAPL.O   MSFT.O  0.123783      No cointegration
1    AAPL.O  GOOGL.O  0.405442      No cointegration
2    AAPL.O   AMZN.O  0.970296      No cointegration
3    AAPL.O     BRKb  0.242388      No cointegration
4    AAPL.O      UNH  0.381236      No cointegration
..      ...      ...       ...                   ...
185  ABBN.S   SIKA.S  0.232567      No cointegration
186  ABBN.S   HOLN.S  0.682066      No cointegration
187  LONN.S   SIKA.S  0.013611  Cointegration exists
188  LONN.S   HOLN.S  0.601906      No cointegration
189  SIKA.S   HOLN.S  0.729057      No cointegration

[190 rows x 4 columns]

## Granger Causality

In [82]:
import pandas as pd
from statsmodels.tsa.stattools import grangercausalitytests

# Define the list of assets and other necessary variables
assets = ['AAPL.O', 'MSFT.O', 'GOOGL.O', 'AMZN.O', 'BRKb', 'UNH', 'JNJ', 'XOM', 'V', 'JPM',
          'NESN.S', 'ROG.S', 'NOVN.S', 'CFR.S', 'UBSG.S', 'ZURN.S', 'ABBN.S', 'LONN.S', 'SIKA.S', 'HOLN.S']
alpha = 0.05  # Significance level for the test

# Create a table to store the Granger causality test results
results_table = []

# Loop over the pairs of assets
for i, asset in enumerate(assets):
    for j in range(i+1, len(assets)):
        other_asset = assets[j]

        # Skip if it's the same asset
        if asset == other_asset:
            continue

        # Run the Granger causality test
        result = grangercausalitytests(df_clean_return[[assets[i], assets[j]]].dropna(), maxlag=2, verbose=False)

        # Extract the p-value and F-Statistic from the test results
        p_value = result[2][0]['ssr_ftest'][1]
        f_statistic = result[2][0]['ssr_ftest'][0]

        # Determine the leading asset based on the p-value
        leading_asset = asset if p_value < alpha else other_asset

        # Append the results to the table
        results_table.append([asset, other_asset, p_value, f_statistic, leading_asset])

# Convert the results table to a DataFrame
results_df_granger = pd.DataFrame(results_table, columns=['Asset 1', 'Asset 2', 'P-value', 'F-Statistic', 'Leading Asset'])

# Save the results DataFrame to an Excel file
results_df_granger.to_excel('granger_causality_results_TEST2.xlsx', index=False)

In [230]:
#Create a matrix for the Granger Causality

alpha = 0.05  # Significance level for the test

# Create an empty matrix to store the F-statistic values
f_matrix = np.zeros((len(assets), len(assets)))

# Loop over the pairs of assets
for i, asset in enumerate(assets):
    for j in range(i+1, len(assets)):
        other_asset = assets[j]

        # Skip if it's the same asset
        if asset == other_asset:
            continue

        # Run the Granger causality test
        result = grangercausalitytests(df_clean_return[[asset, other_asset]].dropna(), maxlag=2, verbose=False)

        # Extract the F-statistic from the test results
        f_statistic = result[2][0]['ssr_ftest'][0]

        # Store the F-statistic in the matrix
        f_matrix[i, j] = f_statistic
        f_matrix[j, i] = f_statistic

# Create a DataFrame from the F-statistic matrix
f_statistic_df = pd.DataFrame(f_matrix, index=assets, columns=assets)

# Display the F-statistic matrix
#print(f_statistic_df)
f_statistic_df.to_excel('granger_f_statistic_matrix.xlsx', index=True)

## SQLite

In [23]:
import sqlite3
from sqlite3 import Error
 

""" create a database connection tool to a SQLite database """

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()
 
 
if __name__ == '__main__':
    create_connection(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")

2.6.0

In [162]:
conn = sqlite3.connect(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")
print("Opened database successfully")

Opened database successfully

In [167]:
# Normality test

# Connect to the SQLite database
conn = sqlite3.connect(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")
cursor = conn.cursor()

# Create a table to store the results
cursor.execute("CREATE TABLE IF NOT EXISTS shapiro_results (Asset TEXT, Stat FLOAT, P_value FLOAT, Result TEXT)")

# Remove the index from the DataFrame
df_results_shapiro.reset_index(drop=True, inplace=True)

# Insert the results into the table
for row in df_results_shapiro.itertuples(index=False):
    cursor.execute("INSERT INTO shapiro_results VALUES (?, ?, ?, ?)", row)

# Commit the changes and close the connection
conn.commit()
conn.close()
print("Information inserted successfully")

Information inserted successfully

In [168]:
# ADF Returns

# Connect to the SQLite database
conn = sqlite3.connect(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")
cursor = conn.cursor()

# Create a table to store the results
cursor.execute("CREATE TABLE IF NOT EXISTS adf_results_returns (Asset TEXT, Level_ADF_Statistic FLOAT, Level_p_value TEXT, Level_Critical_Values TEXT, Level_Stationarity TEXT, Diff_ADF_Statistic FLOAT, Diff_p_value TEXT, Diff_Critical_Values TEXT, Diff_Stationarity TEXT)")

# Remove the index from the DataFrame
df_results_return.reset_index(drop=True, inplace=True)
df_results_return[['Level Critical Values', '1. Diff Critical Values']] = df_results_return[['Level Critical Values', '1. Diff Critical Values']].astype(str)


# Insert the results into the table
rows = [tuple(row) for row in df_results_return.values]
cursor.executemany("INSERT INTO adf_results_returns VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", rows)

# Commit the changes and close the connection
conn.commit()
conn.close()
print("Information inserted successfully")

Information inserted successfully

In [169]:
# ADF Prices

# Connect to the SQLite database
conn = sqlite3.connect(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")
cursor = conn.cursor()

# Create a table to store the results
cursor.execute("CREATE TABLE IF NOT EXISTS adf_results_prices (Asset TEXT, Level_ADF_Statistic FLOAT, Level_p_value TEXT, Level_Critical_Values TEXT, Level_Stationarity TEXT, Diff_ADF_Statistic FLOAT, Diff_p_value TEXT, Diff_Critical_Values TEXT, Diff_Stationarity TEXT)")

# Remove the index from the DataFrame
df_results_prices.reset_index(drop=True, inplace=True)
df_results_prices[['Level Critical Values', '1. Diff Critical Values']] = df_results_prices[['Level Critical Values', '1. Diff Critical Values']].astype(str)


# Insert the results into the table
rows = [tuple(row) for row in df_results_prices.values]
cursor.executemany("INSERT INTO adf_results_prices VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", rows)

# Commit the changes and close the connection
conn.commit()
conn.close()
print("Information inserted successfully")

Information inserted successfully

In [170]:
# Cointegration

# Connect to the SQLite database
conn = sqlite3.connect(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")
cursor = conn.cursor()

# Create a table to store the results
cursor.execute("CREATE TABLE IF NOT EXISTS Cointegration (Asset1 TEXT, Asset2 TEXT, P_value FLOAT, Cointegration TEXT)")

# Remove the index from the DataFrame
results_df_coint.reset_index(drop=True, inplace=True)

# Insert the results into the table
for row in results_df_coint.itertuples(index=False):
    cursor.execute("INSERT INTO Cointegration VALUES (?, ?, ?, ?)", row)

# Commit the changes and close the connection
conn.commit()
conn.close()
print("Information inserted successfully")

Information inserted successfully

In [171]:
# Granger

# Connect to the SQLite database
conn = sqlite3.connect(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")
cursor = conn.cursor()

# Create a table to store the results
cursor.execute("CREATE TABLE IF NOT EXISTS Granger (Asset1 TEXT, Asset2 TEXT, P_value FLOAT, F_Stat FLOAT, Leading_Asset TEXT)")

# Remove the index from the DataFrame
results_df_granger.reset_index(drop=True, inplace=True)

# Insert the results into the table
for row in results_df_granger.itertuples(index=False):
    cursor.execute("INSERT INTO Granger VALUES (?, ?, ?, ?, ?)", row)

# Commit the changes and close the connection
conn.commit()
conn.close()
print("Information inserted successfully")

Information inserted successfully

In [231]:
# Granger Matrix

# Connect to the SQLite database
conn = sqlite3.connect(r"C:\Users\fatli\Desktop\ZHAW\2. Semester\Advanced Quantative Methods\Asset Prices\AQM_Prices.sqlite")
cursor = conn.cursor()

# Create a table to store the results
cursor.execute("CREATE TABLE IF NOT EXISTS Granger_Matrix (AAPL_O FLOAT, MSFT_O FLOAT, GOOGL_O FLOAT, AMZN_O FLOAT, BRKb FLOAT, UNH FLOAT, JNJ FLOAT, XOM FLOAT, V FLOAT, JPM FLOAT, NESN_S FLOAT, ROG_S FLOAT, NOVN_S FLOAT, CFR_S FLOAT, UBSG_S FLOAT, ZURN_S FLOAT, ABBN_S FLOAT, LONN_S FLOAT, SIKA_S FLOAT, HOLN_S FLOAT)")

# Remove the index from the DataFrame
#f_statistic_df.reset_index(drop=True, inplace=True)
#f_statistic_df.reset_index(drop=False, inplace=True)

# Insert the results into the table
for row in f_statistic_df.itertuples(index=False):
    cursor.execute("INSERT INTO Granger_Matrix VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?,?, ?, ?, ?, ?,?, ?, ?, ?, ?)", row)

# Commit the changes and close the connection
conn.commit()
conn.close()
print("Information inserted successfully")

Information inserted successfully